<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" 
xmlns="http://xmlns.jcp.org/xml/ns/persistence" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd%22%3E">
  <persistence-unit name="default">
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
    <properties>
      <property name="hibernate.arquive.autodection" value="class"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <property name="hibernate.hbm2dll.auto" value="update"/>
      <property name="hibernate.show_sql" value="false"/>
      <property name="hibernate.format_sql" value="true"/>
      <property name="javax.persistence.jdbc.url" value="postgres://qvnsicjsjgauze:d925d90c1bca55fc00773ed140e80e2b60eb9fbc192a95fe87c616975e81ee66@ec2-52-71-217-158.compute-1.amazonaws.com:5432/dfef6e9tdbps6l"/>
      <property name="javax.persistence.jdbc.user" value="qvnsicjsjgauze"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="d925d90c1bca55fc00773ed140e80e2b60eb9fbc192a95fe87c616975e81ee66"/>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <property name="javax.persistence.schema-generation.database.action" value="update"/>
    </properties>
  </persistence-unit>
</persistence>